@import "styles/main/variables.scss";
@import "styles/main/mixin.scss";

.hero {
  &--pricing {
    min-height: unset;
    .hero {
      &__inner {
        padding: 40px 0 256px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        &-content {
          width: 100%;
          max-width: 630px;
          margin: 0 auto;
          text-align: center;
          p {
            font-size: 20px;
          }
        }
        &-row {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }
      }
      &__item {
        width: calc(33.3% - 10px);
        padding: 18px 12px 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        &-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          background: $white;
          border-radius: 9px;
          box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.25);
          padding: 32px 22px 20px;
          position: relative;
          z-index: 1;
          flex: 1;
        }
        &-group {
          display: flex;
          flex-direction: column;
          gap: 8px;
          text-align: center;
          padding-bottom: 12px;
          border-bottom: 1px solid #cdcdcd;
          .buttonPrimary {
            width: 100%;
          }
        }
        &-shape {
          width: calc(100% - 30px);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 0;
          pointer-events: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &-box {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        &::before {
          content: "";
          width: 100%;
          height: calc(100% - 70px);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 12px;
          background: $primary-0;
          pointer-events: none;
        }
        &._gradient {
          &::before {
            background: linear-gradient(80deg, #6bf5f6 0%, #a057f8 100%);
          }
        }
        h5 {
          font-weight: 900;
        }
        p {
          font-weight: 500;
          line-height: 1.25;
          color: #afafaf;
          margin-bottom: 8px;
        }
        .buttonPrimary {
          font-size: 18px;
          padding: 0.87em 1.35em;
        }
      }
    }
    h2 {
      color: $black-2;
    }
    .autocontainer {
      max-width: 1228px;
    }
  }
}
// 1180
@include xlg-xxlg {
  .hero {
    &--pricing {
      .hero {
        &__inner {
          gap: 50px;
          padding: 30px 0 256px;
          &-content {
            p {
              font-size: 18px;
            }
          }
          &-row {
            gap: 14px;
          }
        }
        &__item {
          width: calc(33.3% - 7px);
          &-content {
            padding: 28px 18px 20px;
          }
        }
      }
    }
  }
}
// 1024px
@include lg-xlg {
  .hero {
    &--pricing {
      .hero {
        &__inner {
          padding: 0 0 256px;
          &-row {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px 30px;
          }
        }
        &__item {
          width: calc(50% - 15px);
          &-content {
            padding: 28px 24px 20px;
          }
        }
      }
    }
  }
}
// 840
@include md-lg {
  .hero {
    &--pricing {
      .hero {
        &__inner {
          &-row {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px 20px;
          }
          &-content {
            padding: unset;
          }
        }
        &__item {
          width: calc(50% - 10px);
        }
      }
    }
  }
}
// 700
@include sm-md {
  .hero {
    &--pricing {
      .hero {
        &__inner {
          gap: 40px;
        }
        &__item {
          width: 100%;
        }
      }
    }
  }
}
// 580
@include xsm-sm {
  .hero {
    &--pricing {
      .hero {
        &__inner {
          gap: 30px;
        }
        &__item {
          p {
            font-size: 16px;
          }
          h5 {
            font-weight: 700;
          }
        }
      }
    }
  }
}
