@import "styles/main/variables.scss";
@import "styles/main/mixin.scss";


.oboarding {
  min-height: 100vh;
  padding: 115px 0 140px 0;

  &__inner {
    h2 {
      color: $black-2;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.2em;
    }
    &-list {
      position: relative;
      display: flex;
      flex-direction: column;

      &-bg {
        position: absolute;
        top: 7.2%;
        left: 50%;
        transform: translate(-50%);
        height: 85.1%;
        width: auto;
        z-index: -1;

        svg {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  &Item {
    position: relative;
    color: $primary;
    display: flex;
    align-items: center;
    z-index: 0;
    width: calc(50% - 10px);
    max-width: 458px;
    margin-top: -1%;

    &-bg {
      pointer-events: none;
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      z-index: -1;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__circle {
      position: relative;
      height: 180px;
      width: 180px;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;
      flex-shrink: 0;

      &-icon {
        width: 52%;
        height: 52%;
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-bg {
        position: absolute;
        width: 135%;
        height: 135%;
        top: -5%;
        right: 0;
        z-index: -1;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__content {
      width: calc(100% - 220px);
      margin: 0 auto;
      padding: 0.75em 0;
      text-align: right;
      color: $black-2;

      p {
        color: inherit;
        font-family: $font-chivo;
        font-style: normal;
        font-weight: 400;
        line-height: 1.12;
        text-align: inherit;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }
    }

    $colors: #bea5ff, #9065ff, #8a5bff, #5a20ee, #3500bb, #5a20ee;
    @for $i from 1 through length($colors) {
      $c: nth($colors, $i);
      &:nth-child(#{$i}) {
        .oboardingItem {
          &__circle {
            color: $c;
          }
          &-bg {
            color: $c;
          }
        }
      }
    }
    &:nth-child(even) {
      align-self: flex-end;
      .oboardingItem {
        &__content {
          text-align: left;
        }
        &__circle {
          order: -1;
        }
        &-bg {
          svg {
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}

// max-width: 1180px
@include xlg-xxlg {
  .oboarding {
    &__inner {
      &-list {
        max-width: 950px;
        margin: 0 auto;
      }
    }
  }
}

// max-width: 1024px
@include lg-xlg {
  .oboarding {
    &__inner {
      &-list {
        &-bg {
          display: none;
        }
      }
    }
    &Item {
      width: 55%;
    }
  }
}

// max-width: 840px
@include md-lg {
  .oboarding {
    padding: 75px 0;

    &__inner {
      &-list {
        position: relative;
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
        gap: 35px;
        z-index: 0;

        &:after {
          position: absolute;
          content: "";
          top: 5%;
          left: -1px;
          width: 15%;
          height: 90%;
          border-radius: 100px;
          z-index: -1;
          background: linear-gradient(
            #bea5ff,
            #9065ff,
            #8a5bff,
            #5a20ee,
            #3500bb,
            #5a20ee
          );
          opacity: 0.8;
        }

        &-bg {
          display: none;
        }
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0;
      flex-direction: row !important;

      &__content {
        text-align: left;
      }
      &__circle {
        order: -1;
      }
      &-bg {
        svg {
          transform: scaleX(-1);
        }
      }
    }
  }
}

// max-width: 570px
@include xsm-sm {
  .oboarding {
    padding: 60px 0;

    &__inner {
      &-list {
        &:after {
          left: 0;
          width: 35px;
          opacity: 1;
        }
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0;
      flex-direction: row !important;
      justify-content: space-between;

      &__content {
        width: calc(100% - 135px);
        margin: 0;
        padding: 0;
      }
      &__circle {
        width: 120px;
        height: 120px;
      }
      &-bg {
        display: none;
      }
    }
  }
}
