@import "styles/main/variables.scss";
@import "styles/main/mixin.scss";

.ourprocess {
  position: relative;
  min-height: calc(100vh - 100px);
  padding: 70px 0 50px 0;

  &__inner {
    color: $white;
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
    &-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 72px;
      h5 {
        color: $black;
      }
    }
  }
  &__banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 0;
    padding-top: 70px;
    padding-bottom: 30px;

    // &:after {
    //   position: absolute;
    //   content: "";
    //   bottom: 30px;
    //   left: 25%;
    //   width: 12%;
    //   transform: translate(-55%, -50%);
    //   border-radius: 50%;
    //   box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.2),
    //     0 0 15px 5px rgba(0, 0, 0, 0.4);
    // }
    &-item {
      position: relative;
      padding-left: 60%;
      min-height: 130px;

      &-image {
        position: absolute;
        left: 25%;
        top: 7%;
        height: 120%;
        transform: translate(-55%, -50%);
        display: flex;

        img {
          height: 100%;
          width: auto;
        }
      }
      &-line {
        position: absolute;
        display: block;
        top: 13px;
        right: 41.5%;
        width: 9%;
        height: 0;
        color: $primary-0;
        border-bottom: 2px dashed currentColor;

        &:before,
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          width: 8.5px;
          height: 8.5px;
          background: currentColor;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          left: 100%;
        }
        &:before {
          left: 0;
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: 0.35em;
        font-size: 16px;

        h5 {
          color: $white;
          font-family: $font-chivo;
          font-style: normal;
          font-weight: 900;
          line-height: 1.2;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          margin-bottom: 10px;
        }
        span {
          color: $white;
          font-family: $font-chivo;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          text-transform: capitalize;
        }
        ol {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          width: 100%;
          max-width: 330px;
          gap: 0.5em 30px;
          &._lg {
            width: auto;
            li {
              width: auto;
            }
          }
          li {
            position: relative;
            width: calc(50% - 15px);
            padding-left: 1em;
            &:after {
              position: absolute;
              content: "";
              top: 50%;
              left: 0;
              width: 0.55em;
              height: 0.55em;
              border-radius: 50%;
              transform: translateY(-50%);
              background: $primary;
              background: linear-gradient(
                141.84deg,
                #9c61f7 14.84%,
                #6ee4f6 81.58%
              );
            }
          }
        }
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          z-index: #{4 - $i};

          .ourprocess__banner-item-line {
            width: #{(11 + ($i * 2.5)) * 1%};
          }
        }
      }
    }
  }
  &-group {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      display: flex;
      height: 42px;
      width: auto;
      transition: 0.2s ease-out;
      pointer-events: none;
      img {
        height: 100%;
        width: auto;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
  .bg {
    background: $black-secondary;
    &__image {
      width: 100%;
      height: 100%;
      top: 0;
      img {
        object-fit: cover;
      }
    }
  }
  &--home {
    background: $white-4;
    min-height: unset !important;
    .ourprocess {
      &__inner {
        &-header {
          h2 {
            text-transform: capitalize;
          }
          h5 {
            text-transform: uppercase;
          }
        }
      }
      &__banner {
        &-item {
          &-content {
            h5 {
              color: $black;
            }
            span {
              color: $black;
            }
          }
        }
        &:after {
          opacity: 0.25;
        }
      }
    }
    h2 {
      color: $black;
    }
    .bg {
      display: none;
    }
  }
}
.oboarding {
  min-height: 100vh;
  padding: 115px 0 140px 0;

  &__inner {
    h2 {
      color: $black-2;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.2em;
    }
    &-list {
      position: relative;
      display: flex;
      flex-direction: column;

      &-bg {
        position: absolute;
        top: 7.2%;
        left: 50%;
        transform: translate(-50%);
        height: 85.1%;
        width: auto;
        z-index: -1;

        svg {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  &Item {
    position: relative;
    color: $primary;
    display: flex;
    align-items: center;
    z-index: 0;
    width: calc(50% - 10px);
    max-width: 458px;
    margin-top: -1%;

    &-bg {
      pointer-events: none;
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      z-index: -1;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__circle {
      position: relative;
      height: 180px;
      width: 180px;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;
      flex-shrink: 0;

      &-icon {
        width: 52%;
        height: 52%;
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-bg {
        position: absolute;
        width: 135%;
        height: 135%;
        top: -5%;
        right: 0;
        z-index: -1;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__content {
      width: calc(100% - 220px);
      margin: 0 auto;
      padding: 0.75em 0;
      text-align: right;
      color: $black-2;

      p {
        color: inherit;
        font-family: $font-chivo;
        font-style: normal;
        font-weight: 400;
        line-height: 1.12;
        text-align: inherit;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }
    }

    $colors: #bea5ff, #9065ff, #8a5bff, #5a20ee, #3500bb, #5a20ee;
    @for $i from 1 through length($colors) {
      $c: nth($colors, $i);
      &:nth-child(#{$i}) {
        .oboardingItem {
          &__circle {
            color: $c;
          }
          &-bg {
            color: $c;
          }
        }
      }
    }
    &:nth-child(even) {
      align-self: flex-end;
      .oboardingItem {
        &__content {
          text-align: left;
        }
        &__circle {
          order: -1;
        }
        &-bg {
          svg {
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}

// max-width: 1180px
@include xlg-xxlg {
  .oboarding {
    &__inner {
      &-list {
        max-width: 950px;
        margin: 0 auto;
      }
    }
  }
  .ourprocess {
    &__banner {
      &-item {
        padding-left: 55%;

        &-line {
          right: 46.8%;
        }
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            .ourprocess__banner-item-line {
              width: #{(3 + ($i * 3.2)) * 1%};
            }
          }
        }
      }
    }
  }
}

// max-width: 1024px
@include lg-xlg {
  .ourprocess {
    &__banner {
      &-item {
        padding-left: 35%;

        &-image {
          left: 0;
        }
        &-line {
          right: 67%;
        }
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            .ourprocess__banner-item-line {
              width: #{(6 + ($i * 3.5)) * 1%};
            }
          }
        }
      }
      &:after {
        left: 0;
      }
    }
  }
  .oboarding {
    &__inner {
      &-list {
        &-bg {
          display: none;
        }
      }
    }
    &Item {
      width: 55%;
    }
  }
}

// max-width: 840px
@include md-lg {
  .oboarding {
    padding: 75px 0;

    &__inner {
      &-list {
        position: relative;
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
        gap: 35px;
        z-index: 0;

        &:after {
          position: absolute;
          content: "";
          top: 5%;
          left: -1px;
          width: 15%;
          height: 90%;
          border-radius: 100px;
          z-index: -1;
          background: linear-gradient(
            #bea5ff,
            #9065ff,
            #8a5bff,
            #5a20ee,
            #3500bb,
            #5a20ee
          );
          opacity: 0.8;
        }

        &-bg {
          display: none;
        }
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0;
      flex-direction: row !important;

      &__content {
        text-align: left;
      }
      &__circle {
        order: -1;
      }
      &-bg {
        svg {
          transform: scaleX(-1);
        }
      }
    }
  }
  .ourprocess {
    padding: 55px 0 75px 0;
    &-group a {
      height: 35px;
    }
    &__banner {
      &-item {
        min-height: 120px;
      }
    }
  }
}

// max-width: 700px
@include sm-md {
  .ourprocess {
    min-height: calc(100vh - 76px);
    min-height: calc(100dvh - 76px);

    &__banner {
      padding: 0;
      gap: 30px;

      &-item {
        padding-left: 25%;
        min-height: 100px;

        &-image {
          left: unset;
          top: 40%;
          right: 100%;
          transform: translate(30%, -50%);
        }
        &-line {
          display: none;
        }
      }
      &:after {
        display: none;
      }
    }
  }
}

// max-width: 570px
@include xsm-sm {
  .ourprocess {
    min-height: calc(100vh - 66px);
    min-height: calc(100dvh - 66px);
    padding: 60px 0;

    &__banner {
      &-item {
        padding-left: 15%;
        min-height: 110px;

        &-image {
          left: unset;
          top: 40%;
          right: 100%;
          transform: translate(10%, -50%);
        }
        &-line {
          display: none;
        }
        &-content {
          gap: 10px;
          h5 {
            font-size: 18px;
            margin-bottom: 0;
          }
          ol {
            gap: 4px 10px;
          }
        }
      }
      &:after {
        display: none;
      }
    }
    &-group {
      flex-wrap: wrap;
      gap: 14px 10px;

      span {
        width: 100%;
      }
      a {
        height: 20px;
      }
    }
  }
  .oboarding {
    padding: 60px 0;

    &__inner {
      &-list {
        &:after {
          left: 0;
          width: 35px;
          opacity: 1;
        }
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0;
      flex-direction: row !important;
      justify-content: space-between;

      &__content {
        width: calc(100% - 135px);
        margin: 0;
        padding: 0;
      }
      &__circle {
        width: 120px;
        height: 120px;
      }
      &-bg {
        display: none;
      }
    }
  }
}
