$primary: #966df9;
$primary-2: #a357fa;
$secondary: #343478;
$black: #000;
$black-2: #19063b;
$black-3: #0e0523;
$white: #fff;
$white-2: #cfd1d8;
$white-3: #eff0f6;
$white-4: #d9d9d9;
$white-5: #dddddd;
$gray: #525252;
$gray-2: #8e8e8e;
$gray-3: #525252;
$gray-4: #808080;
$violet: #6f6c90;
$blue: #1e1e51;
$blue: #170f49;
$blue-2: #333378;

$font-primary: "Inter", sans-serif;
$font-secondary: "DM Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-chivo: "Chivo", sans-serif;
$font-chonburi: "Chonburi", serif;
$font-marope: "Manrope", sans-serif;
$font-livvic: "Livvic", sans-serif;

$gradient: linear-gradient(267deg, #6bedf6 10.47%, #9e59f7 97.78%);

// font-family: "Chivo", sans-serif;
// font-family: "Chonburi", serif;
// font-family: "DM Sans", sans-serif;
// font-family: "Inter", sans-serif;
// font-family: "Livvic", sans-serif;
// font-family: "Manrope", sans-serif;
// font-family: "Poppins", sans-serif;
